.log-page{
  display: flex;
  height: 90%;
}

.log-sidebar-area{
  flex: 2.5;
}

.log-detail-area {
  flex: 7.5;
  overflow: scroll;
}

@media screen and (max-width: 48rem) {
  .log-page {
    flex-direction: column;
  }

  .log-sidebar-area {
    max-height: 150px;
  }
}